.imgContainer {
  display: flex;
  justify-content: center;
}

.bgImg {
  clip-path: circle();
  height: 230px;
  width: 230px;
  background-image: var(--portrait-img);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.4s ease;
}

.portrait {
  clip-path: circle();
  height: 230px;
  border-radius: 20px;
}

.titleText {
  color: var(--color);
  text-align: center;
  transition: all 0.4s ease;
}

.iconContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.socialIcons {
  color: var(--social-icons);
  font-size: 25px;
  margin: 0px 7px;
  transition: all 0.4s ease;
}

.socialIcons:hover {
  color: #209cee;
}

/* Project Section */

.projectTitleContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.projectContainer {
  display: flex;
  justify-content: center;
}

.projectCardContainer {
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 25px;
  width: 65%;
}

@media only screen and (max-width: 850px) {
  .projectCardContainer {
    width: 75%;
  }
}
