.card {
  background: var(--card-color);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  transition: all 0.4s ease;
}

.card:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.content {
  padding: 1rem;
  border-radius: 0 0 20px 20px;
}

.content h2 {
  color: var(--card-text);
  transition: all 0.4s ease;
}

.content p {
  font-size: 13px;
  margin-top: 8px;
  color: var(--card-text);
  transition: all 0.4s ease;
}

/* TAGS */

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0 16px;
}

.tags span {
  margin: 8px 8px 0 0;
  padding: 3.2px 8px;
  color: var(--tag-text);
  border-radius: 20px;
  font-size: 12.5px;
  transition: all 0.2s ease;
}

span.react {
  border: 1.6px solid #2596be;
}

span.react:hover {
  background: #2595be75;
}

span.node {
  border: 1.6px solid #6da660;
}

span.node:hover {
  background: #6da66075;
}

span.mongo {
  border: 1.6px solid #42a33a;
}

span.mongo:hover {
  background: #42a33a75;
}

span.firebase {
  border: 1.6px solid #f9ca42;
}

span.firebase:hover {
  background: #f9ca4275;
}

span.express {
  border: 1.6px solid #f3df1e;
}

span.express:hover {
  background: #f3df1e75;
}

span.react-native {
  border: 1.6px solid #2596be;
}

span.react-native:hover {
  background: #2595be75;
}

span.css-modules {
  border: 1.6px solid #e60dc2;
}

span.css-modules:hover {
  background: #e60dc275;
}

.cardImg {
  width: 100%;
  border-radius: 15px;
}

.iconContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}

.socialIcons {
  color: var(--social-icons);
  font-size: 25px;
  margin: 0px 7px;
  transition: all 0.4s ease;
}

.socialIcons:hover {
  color: #209cee;
}
