:root,
[data-theme='dark'] {
  --background-color: #24292e;
  --color: #edf0f1;
  --social-icons: #edf0f1;
  --link-color: #edf0f1;
  --card-color: #1f2428;
  --card-text: #edf0f1;
  --tag-text: #edf0f1;
  --menu-toggle: #edf0f1;
  --overlay-bg: #24252a;
  --overlay-text: #edf0f1;
  --overlay-btn: #edf0f1;
  --portrait-img: url(../../public/images/portrait-dark.jpg);
}

[data-theme='light'] {
  --background-color: #ffffff;
  --color: #1f2428;
  --social-icons: #1f2428;
  --link-color: #1f2428;
  --card-color: #f3f3f3;
  --card-text: #1f2428;
  --tag-text: #1f2428;
  --menu-toggle: #1f2428;
  --overlay-bg: #f3f3f3;
  --overlay-text: #1f2428;
  --overlay-btn: #1f2428;
  --portrait-img: url(../../public/images/portrait.jpg);
}
